.budget_Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 20px;
    /* align-items: flex-start; */
}

.side-bare {
    background-color: var(--primary-color) !important;
}

.side-bare .active,
.side-bare .side-linke:hover {

    background-color: var(--light-color) !important;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #333 !important;
    transition: all 0.1s;
    /* margin-left: 5px; */
}

@media (max-width: 991px) {
    .side-bare .title {
        display: none !important;
    }

}

.rdt_TableCol {
    background-color: var(--primary-color) !important;
    text-align: center;
    color: var(--light-color);
    font-size: 18px !important;

}

.rdt_TableRow {
    font-size: 18px !important;
    /* padding: 7px 15px; */
    border: #eee 1px solid;
}

.bFyntL {
    justify-content: center !important;
}




.loading-wave {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}

.No-Data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 100px;
    padding: 10px;
}

.page-link {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    margin: 0px 2px;
    background-color: var(--primary-color) !important;
    border: none !important;
    text-align: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: var(--light-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link:focus {
    box-shadow: none !important;
}

.a {
    background-color: var(--icon-color) !important;
    color: var(--light-color) !important;
}

.disabled {
    opacity: 0.5 !important;
}

.nextLink {
    border-radius: 50% !important;
    padding: 5px;
    line-height: 1.5;
    outline: none !important;
    margin: 0px 2px !important;
    text-align: center !important;
}

.break-link {
    margin: 0px 2px !important;
}

.nextLink:hover {
    background-color: var(--icon-color) !important;
    color: var(--light-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}